SECRET_KEY=change-this
DEBUG=0
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://alcolenri.onrender.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
ALCOLENRI_SYNC_KEY=ALC-uT72lF4HEXgurcND2oIHUKDQ5p1nhaU4zXOECa4KVIw
